body{
	background-image: url("../Images/logo.png");
	background-color: #424242;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Geneva', arial, sans-serif;

} 
p, li, dd, blockquote, th, td{color:white} 

h1{
	text-decoration: underline;

}
h1, h2, dt{color: #e79824} 
a {color: #addc34;
text-decoration: none;}

#programming-languages{
	list-style-type: none;

}
th{
	padding-left: 1.5em;
}

td{
	font-size: .5em;
	padding-left: 6em;
}
a:hover{
	background-color: #ff8080;
	color: black;
}
